<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Asset Uglifier</title>    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
   
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">          
                <a class="brand" href="#">ugly-assets</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li<% if(type[0] == 'js'){ %> class="active"<% } %>><a href="/">javascript</a></li>
                        <li<% if(type[0] == 'css'){ %> class="active"<% } %>><a href="/css">css</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h2>Minimize your <%= type[1] %> assets with node</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Use an url, textarea or drag&amp;drop <%= type[0] %> files</h3>
            </div>
        </div>
        <div class="row top15">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#add-url" data-toggle="tab">From an URL</a></li>
                    <li><a href="#add-text" data-toggle="tab">Just some <%= type[0] %> code in a textarea</a></li>
                    <li><a href="#add-drag" data-toggle="tab">Drag &amp; Drop <%= type[0] %> files</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="add-url">
                        <h4>Add URL to the <%= type[0] %> file to be uglified</h4>
                        <form action="/<%= type[0] %>" method="post" class="form-horizontal span8 top15">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="url">URL</label>
                                    <div class="controls">
                                        <input type="text" class="span5" id="url" name="url" placeholder="ex: http://example.com/what.<%= type[0] %>">
                                        <p class="help-block">It should contain the http(s): part too.</p>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Parse and uglify</button>
                                </div>
                            </fieldset>                            
                        </form>
                        <div class="clearfix hidden span12" id="ugly-one">
                            <h4>Result - beware it's ugly</h4>
                            <textarea name="result" id="result" class="span11" rows="20"></textarea>
                        </div>
                    </div>
                    <div id="add-text" class="tab-pane">
                        <h4>Add some <%= type[0] %> text</h4>
                        <form action="/<%= type[0] %>" method="post" class="form-horizontal span10 top15">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="code">Code</label>
                                    <div class="controls">
                                        <textarea name="code" id="code" class="span8" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Parse and uglify</button>
                                </div>
                            </fieldset>
                        </form>
                        <div class="clearfix hidden span12" id="ugly-two">
                            <h4>Result - beware it's ugly</h4>
                            <textarea name="result" id="result-two" class="span10" rows="20"></textarea>
                        </div>
                    </div>

                    <div id="add-drag" class="tab-pane">
                        <h4>Drag &amp; Drop <%= type[0] %> files</h4>
                        <div id="drop_zone">
                            Drop files here
                        </div>
                        <div class="clearfix hidden" id="ugly-three">
                            <h4>Result - beware it's ugly</h4>
                            <textarea name="result" id="result-three" class="span11" rows="20"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>Built with <a href="http://nodejs.org/">node.js</a>, <a href="https://github.com/tuxychandru/grasshopper">grasshopper</a>, <a href="https://github.com/mishoo/UglifyJS">uglify-js</a>, <a href="https://github.com/GoalSmashers/clean-css">clean-css</a>, <a href="https://github.com/mikeal/request">request</a>. Looks by <a href="https://github.com/twitter/bootstrap">twitter bootstrap</a> and <a href="http://www.google.com/webfonts">google webfonts</a>.</footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <% scripts.forEach(function(item) { %>
    <script src="<%= item %>"></script>
    <% }); %>
</body>
</html>